body {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#252934 100%, rgba(255,255,255,1) 0%);

}

body [class="container-fluid"] {
    padding-left: 0;
    padding-right: 0;
}


body, label , [type="file"], p, th, td{
    color: white;
}

