body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image:url('https://diapogram.com/upload/2019/04/19/20190419171910-96076126.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#carouselExemple {
    width: 60%;
    margin: 0 auto;
}

.carousel-inner img {

    height:700px;

    object-fit: contain;

}




