
.carousel {

    width: 100%;
    margin-top: 70px;
}


.carousel-inner img {

    max-height:750px;
    width: 100%;
    filter: blur(0px);
    object-fit: contain;

}



body {
    background-color: #292b2c;
}

.carousel-slide {
    margin: auto;
}

.item {
    height: 100vh;
}

.item img {
    max-height: 100%!important;
    margin: auto;
}

.carousel-control {
    background : none!important;
}


