
nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#e6e9ed;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#636b6f;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
}
.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #252934;

    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

p, th, td {
    color: black;
}

 p {
     text-align: center;
     font-size: 110%;
 }

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 1000px;
    /* Encadré pour voir les limites du formulaire */
    padding: 2em;
    border: 2px solid #252934;
    border-radius: 2em;
}

label {
    display: block;
    width: 150px;
    float: left;
}

input {

    font-weight: bold;
}

